@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
  @apply

  text-zinc-500

}
.heade{
  @apply

  flex
  flex-col
}

.fixed__top{
  @apply

  bg-zinc-200
  p-4
  md:p-6
}
.fixed__top--container{
  @apply
  
  max-w-7xl
  m-auto
  
  flex
  flex-col
  md:flex-row
  gap-4
  items-center
  justify-between
  
}

.fixed__top--item{
  @apply

  flex
  items-center
  gap-1
  
  hover:text-zinc-800

  hover:animate-pulse
}



.header__content{
  @apply

  py-20
  md:px-0

  p-4
  max-w-7xl
  mx-auto
  
  flex
  flex-col
  md:flex-row
  gap-14
  justify-between
  items-center
}
.header__content--profile{
  @apply

  w-full
  md:w-5/12
  flex
  items-center
  justify-center
  drop-shadow-md
}
.header__content--headline{
  @apply

  flex-1
  flex
  flex-col

  text-center
  md:text-left

  gap-2
}
.header__content--headline h1{
  @apply

  font-light
  text-4xl
  md:text-6xl
}
.header__content--headline h1 strong{
  @apply
  
  font-bold
  text-blue-500
}
.header__content--headline h2{
  @apply

  font-light
  text-2xl
}

.app__main{
  @apply

  max-w-7xl
  m-auto

  flex
  flex-col
  gap-14 

  p-4

  xl:p-0
}

.app__item{
  @apply

  flex
  flex-col
  gap-2
}
.app__title{
  @apply

  text-2xl
  font-bold
  text-blue-500
  uppercase
}
.app__description{
  @apply

  text-lg
  font-light
}

.row{
  @apply

  flex
  flex-col
  md:flex-row
  gap-14
}
.col-5{
  @apply

  w-full
  md:w-5/12
}
.col-7{
  @apply

  flex
  flex-col
  flex-1
}