<%- include('partials/header') %>
<main class="app__main">

  <div class="app__item">
    <h3 class="app__title">Profile</h3>
    <p class="app__description">Cursei somente até o 5° semestre (2022) em Análise e Desenvolvimento de Sistemas na Universidade Católica Dom Bosco (UCDB). Pretendo concluir (2024) o curso a distância e tenho interesse pelas areas de UI Design, Cloud Computing e Machine Learning. Tenho 2 anos de experiência em Desenvolvimento Web atuando em duas empresas no ramo de Marketing Digital.
    <br>
    Além do computador, alguns dos meus hobbies incluem: skate, musculação, estética automotiva, filosofia e cerveja artesanal.</p>
  </div>

  <div class="row">
    <div class="col-5">          
      <div class="app__item">
        <h3 class="app__title">Education</h3>
        <div class="app__timeline">
          <div class="timeline__item">
            <div class="content">
              <span class="app__date--timeline">2018 - 2022 (Não concluido)</span>
              <h2 class="app__title--timeline">Universidade Católica Dom Bosco (UCDB)</h2>
              <p class="app__description--timeline">Fiz o curso <strong>Tecnologia em Análise e Desenvolvimento de Sistemas</strong> entre 2018 e deixei de cursar em 2022 para priorizar outras coisas (conhecimentos mais urgentes e trabalho).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="app__item">
        <h3 class="app__title">Skills</h3>
        <div class="app__container">
          <span class="app__tag">HTML</span>
          <span class="app__tag">CSS</span>
          <span class="app__tag">NPM</span>
          <span class="app__tag">GIT</span>
          <span class="app__tag">GITHUB</span>
          <span class="app__tag">SASS</span>
          <span class="app__tag">TAILWIND</span>
          <span class="app__tag">BOOTSTRAP</span>
          <span class="app__tag">VITE</span>
          <span class="app__tag">JAVASCRIPT</span>
          <span class="app__tag">REACT</span>
          <span class="app__tag">NEXT.JS</span>
          <span class="app__tag">PHP</span>
          <span class="app__tag">WORDPRESS</span>
          <span class="app__tag">AWS</span>
          <span class="app__tag">LARAVEL</span>
          <span class="app__tag">MYSQL</span>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="app__item">
        <h3 class="app__title">Experience</h3>
        <div class="app__timeline">
          <div class="timeline__item">
            <div class="content">
              <span class="app__date--timeline">2019 - 2020</span>
              <h2 class="app__title--timeline">Rino3 Marketing Digital</h2>
              <p class="app__description--timeline">Fiz estágio como Desenvolvedor Back end PHP. Convertia códigos estáticos (HTML, CSS, JavaScript) em dinâmico com PHP usando WordPress como CMS. Também fazia a manutenção a correção de bugs e o deploy de sites institucionais para advogados.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="content">
              <span class="app__date--timeline">2021 - atualmente</span>
              <h2 class="app__title--timeline">Webmaia (LeadsZapp & Growp)</h2>
              <p class="app__description--timeline">Trabalho como Desenvolvedor Web Fullstack Júnior. Ja fiz o UI Design dos sites novos e ferramentas que serão implementados e landing pages para lançamentos e anuncios digitais, desenvolvi a base de conhecimentos para as ferramentas, e recursos novos.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="app__item">
        <h3 class="app__title">Languages</h3>
        <div class="app__container">
          <span class="app__tag">PORTUGUÊS</span>
          <span class="app__tag">INGLES</span>
        </div>
      </div>
      
    </div>
    
  </div>
</main>
<%- include('partials/footer') %>