<%- include('include/header') %>
  <div class="app__jobs">
    <div class="app__jobs--header">
      <h2>Open roles:</h2>
    </div>
    
    <div class="jobs__container">
      <h3 class="jobs__title">Engineering team</h3>
      <ul>
        <li><a href="/vaga">Fullstack Developer (Remote)</a></li>
      </ul>
    </div>

    <div class="jobs__container">
      <h3 class="jobs__title">Marketing team</h3>
      <ul>
        <li>Digital Marketing (San Francisco)</li>
      </ul>
    </div>
  </div>
<%- include('include/footer') %>